* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-centrado{
  max-width: 1200px;
  margin: 0 auto;
}

.container-logo-search{
  background-color: #f1f1e9;
  display: flex;

}
.container-logo-search{
  min-height: 150px;
}
.logo-search{
  display: flex;
 flex-direction: column;
 align-items: center;
  padding: 10px;
  width:100%;
}
.logo-tagline{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo-tagline img{
  width: 100px;
  margin-right: 20px;
}
.logo-tagline h1{
  font-size: 1.2rem;
  color: grey;
}
.search-form input[type="text"]{
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  border:
}
.container-banner{
  background: url(../images/bg-isometric-grid.png) repeat;
  background-position: top left;
}
.banner-top{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.right-banner img{
  width: 100%;
}

@media screen and (min-width:768px){
  .container-logo-search{
    min-height: 100px;
  }
  .logo-search{
   flex-direction: row;
   justify-content: space-between;
  }
  .banner-top{
    flex-direction: row;
    padding: 20px;
  }
  .left-banner{
    padding: 10px;
    font-size: 1.3rem;
  }
}
