* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-centrado{
  max-width: 1200px;
  margin: 0 auto;
}

.container-logo-search{
  background-color: #f1f1e9;
  display: flex;

}
.container-logo-search{
  min-height: 150px;
}
.logo-search{
  display: flex;
 flex-direction: column;
 align-items: center;
  padding: 10px;
  width:100%;
}
.logo-tagline{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo-tagline img{
  width: 100px;
  margin-right: 20px;
}
.logo-tagline h1{
  font-size: 1.2rem;
  color: grey;
}
.search-form input[type="text"]{
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  border:
}
.container-banner{
  background: url(../images/bg-isometric-grid.png) repeat;
  background-position: top left;
}
.banner-top{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.right-banner img{
  width: 100%;
}

.left-content{
  flex: 1 0 70%;
  border-right: 1px solid grey;
}
.right-content{
  flex: 1 0 30%
}
.icon-left{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #888;
  margin-right: 10px;

}
.container-links{
  width: 50%;
  height: 100px;
  padding: 20px 5px;
  /* background-color: #999; */
  display: flex;
  align-items: flex-start;
}

.contenido-main{
  display: flex;
  padding: 20px 0;

}
.main-links{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.container-links{
  flex-grow: 50%;
}
.container-cover img{
  width: 50px;
  margin-right: 10px;
}
.book-git{
  display:flex;
  margin-top: 20px;
}
.monitor img{
  margin:0 auto;
}
.more-platforms{
  padding: 10px;
}
.platforms{
  list-style: none;
  display: flex;
}
.platforms li{
 width: 50%;
 flex-wrap: nowrap;
}
.platforms li a{
display: block;
}

@media screen and (min-width:768px){
  .container-logo-search{
    min-height: 100px;
  }
  .logo-search{
   flex-direction: row;
   justify-content: space-between;
  }
  .banner-top{
    flex-direction: row;
    padding: 20px;
  }
  .left-banner{
    padding: 10px;
    font-size: 1.3rem;
  }
}
