* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
width: 100%;
padding: 50px;
background-color: aquamarine;
color: black;

}

.contenido-principal{
    width: 100%;
    background-color: blueviolet;
    overflow: hidden;


}
.left{
    width: 70%;
    float: left;
    background-color: rgba(109, 0, 0, 0);
    color: white;
    padding: 20px;

}
.right{
    width: 30%;
    float: left;
    background-color: brown;
    color: white;
    padding: 20px;

}